.yarl__container {
  background-color: rgb(90, 110, 98, 0.75); /* Example: red with opacity */
}

.yarl__button {
  width: fit-content;
  color: var(--text-color);

  p {
    /* transition: font-weight 0.2s ease, letter-spacing 0.2s ease;
    letter-spacing: 0px; */
  }
}

.yarl__button:hover {
  /* color: #fcfaf6; */
  color: white;

  p {
    color: white;
    /* font-weight: 400; */
  }
}

.yarl__navigation_next,
.yarl__navigation_prev {
  top: 95%;
}

.yarl__navigation_next {
  /* left: 45%; */
  left: calc(50vw);
}

.yarl__navigation_prev {
  /* left: 45%; */
  left: calc(50vw - 91px + 16px);
  /* calc(50vw + 40px) */
}

.yarl__slide_image {
  max-height: 90% !important;
  margin-bottom: 20px;
}

.yarl__button {
  filter: none;
}

.slashfooter {
  /* position: absolute;
  bottom: 0px; */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9900099;
}
