.yarl__container {
  background-color: rgb(90, 110, 98, 0.75); /* Example: red with opacity */
}

.yarl__button {
  width: fit-content;
}

.yarl__navigation_next,
.yarl__navigation_prev {
  top: 95%;
}

.yarl__navigation_next {
  /* left: 45%; */
  left: calc(50vw - 16px);
}

.yarl__navigation_prev {
  /* left: 45%; */
  left: calc(50vw - 91px + 16px);
  /* calc(50vw + 40px) */
}

.yarl__slide_image {
  max-height: 90% !important;
  margin-bottom: 20px;
}

.yarl__button {
  filter: none;
}
